
label
{
	width:150px;
}
.install_button
{
	display:inline-block;
	padding:4px;
	margin-top:4px;
	background:#146295;
	text-decoration:none;

}
.install_button:link, .install_button:active
{
	color:#fff;
}
.install_button:hover, .install_button:visited
{
	color:#fff;
	text-decoration:none;
}

