table.adminlist tr .col_parameter_key {
    width: 120px;
    text-align: left;
}

table.adminlist tr .col_parameter_value {
    width: 210px;
}

.single_parameter_value_container .btn_remove_parameter_value {
    display: none;
}

#parameter_buttons_container, #tag_buttons_container {
    float: right;
}

table.adminlist tr td.col-ordering .icon-drag, .parameter_value_container .icon-drag{
	background: url(../../images/draggable.png) no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: move;
}