.sub_toolbar_icon_categories {
    background-image: url(../images/toolbar_icons/categories_48.png);
}

.sub_toolbar_icon_countries {
    background-image: url(../images/toolbar_icons/countries_48.png);
}

.sub_toolbar_icon_currencies {
    background-image: url(../images/toolbar_icons/currencies_48.png);
}

.sub_toolbar_icon_discounts {
    background-image: url(../images/toolbar_icons/discounts_48.png);
}

.sub_toolbar_icon_feedback {
    background-image: url(../images/toolbar_icons/feedback_48.png);
}

.sub_toolbar_icon_labels {
    background-image: url(../images/toolbar_icons/labels_48.png);
}

.sub_toolbar_icon_manufacturers {
    background-image: url(../images/toolbar_icons/manufacturers_48.png);
}

.sub_toolbar_icon_options {
    background-image: url(../images/toolbar_icons/options_48.png);
}
.sub_toolbar_icon_payments{
	background-image: url(../images/toolbar_icons/payments_48.png);
}
.sub_toolbar_icon_orders {
    background-image: url(../images/toolbar_icons/orders_48.png);
}

.sub_toolbar_icon_reports {
    background-image: url(../images/toolbar_icons/reports_48.png);
}

.sub_toolbar_icon_orderstatuses {
    background-image: url(../images/toolbar_icons/order_statuses_48.png);
}

.sub_toolbar_icon_pages {
    background-image: url(../images/toolbar_icons/pages_48.png);
}

.sub_toolbar_icon_parameters {
    background-image: url(../images/toolbar_icons/parameters_48.png);
}

.sub_toolbar_icon_products {
    background-image: url(../images/toolbar_icons/products_48.png);
}

.sub_toolbar_icon_ratings {
    background-image: url(../images/toolbar_icons/ratings_48.png);
}

.sub_toolbar_icon_shippingmethods {
    background-image: url(../images/toolbar_icons/shipping_methods_48.png);
}

.sub_toolbar_icon_tags {
    background-image: url(../images/toolbar_icons/tags_48.png);
}

.sub_toolbar_icon_taxes {
    background-image: url(../images/toolbar_icons/taxes_48.png);
}

.sub_toolbar_icon_themes {
    background-image: url(../images/toolbar_icons/themes_48.png);
}

.sub_toolbar_icon_usergroups {
    background-image: url(../images/toolbar_icons/usergroups_48.png);
}

.sub_toolbar_icon_users {
    background-image: url(../images/toolbar_icons/users_48.png);
}

.sub_toolbar_icon_install{
	background-image: url(../images/toolbar_icons/install_48.png);
}
.sub_toolbar_icon_tools{
	background-image: url(../images/toolbar_icons/tools_48.png);
}
.sub_toolbar_icon_bulkactions{
	background-image: url(../images/toolbar_icons/bulkactions_48.png);
}
/* tools */
.sub_toolbar_icon_exportimport{
	background-image: url(../images/toolbar_icons/exportimport_48.png);
}
