.wd_shop_product_containers_list {
    padding: 0;
    list-style-type: none;
}

.wd_shop_product_containers_list li:not(:last-child) {
    margin-bottom: 20px;
}

.wd_shop_product_data_count {
    display: inline-block;
    width: 60px;
}

.wd_shop_product_data_parameter {
    max-width: 240px;
}

.parameters_label {
    display: block ;
}

.parameters_input {
    float: left;
    margin-right: 5px;
}
