.wd_shop_product_image_label_container {
    position: relative;
}

.wd_shop_product_name {
    white-space: normal;
}

.wd_shop_product_market_price {
    text-decoration: line-through;
}

.wd_shop_product_price {
}

.wd_shop_product_description {
}

.wd_shop_pagination {
    margin-top: 0;
}