/* write review */
.wd_shop_write_review_container {
    margin-top: 15px;
    margin-bottom: 25px;
}

.wd_shop_write_review_top_divider {
    margin-bottom: 0;
}

.wd_shop_write_review_bottom_divider {
    position: relative;
    top: -1px;
    margin: 0;
}

form[name=wd_shop_form_write_review] {
    margin: 15px 0;
}

.wd_shop_write_review_container .form-control {
    margin-bottom: 15px;
    max-width: 100%;
}

.wd_shop_write_review_buttons .btn-group {
    position: relative;
    top: -12px
}

/* reviews */
.wd_shop_review_template {
    display: none;
}

.wd_shop_review_user_name {
    margin-top: 0;
}

.wd_shop_review_date {
}

.wd_shop_review_text {
    margin-top: 15px;
    white-space: pre-line;
}