form[name=wd_shop_form_login] > .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

form[name=wd_shop_form_login] .input-group {
    min-width: 240px;
}

.wd_shop_alert_form_login_incorrect_data {
    margin-bottom: 10px;
}