/* main data */
.wd_shop_product_image_label_container {
    position: relative;
}

.wd_shop_product_name {
    margin-top: 10px;
    font-size: 24px;
    white-space: normal;
}

.wd_shop_product_btn_category,
.wd_shop_product_btn_manufacturer {
    padding-top: 0;
    padding-bottom: 0;
}

.wd_shop_product_btn_category:hover,
.wd_shop_product_btn_manufacturer:hover {
    text-decoration: none;
}

.wd_shop_product_category_name,
.wd_shop_product_manufacturer_name {
}

.wd_shop_product_manufacturer_logo {
    max-height: 2em;
    max-width: 3em;
}

.wd_shop_product_market_price {
    display: inline-block;
    margin-right: 8px;
    font-size: 1em;
    text-decoration: line-through;
}

.wd_shop_product_price {
    display: inline-block;
    font-size: 1.8em;
}

/* order data */
.wd_shop_product_quantity {
    display: inline-block;
    width: 60px;
}

.wd_shop_order_data_additional_btns_divider {
    margin-bottom: 4px;
}

.wd_shop_additional_btns_social_btns_divider {
    margin-top: 4px;
    margin-bottom: 12px;
}

/* social buttons */
.wd_shop_product_social_btn {
    display: inline-block;
    padding: 0 4px;
}

/* tabs */
.wd_shop_tab_content p {
    font-size: 1.1em;
    line-height: 1.4em;
}

/* shipping info */
.wd_shop_shipping_info_row {
    margin-bottom: 15px;
}

/* reviews */
#wd_shop_tab_content_product_reviews .wd_shop_review_user_name {
    margin-top: 0;
}

#wd_shop_tab_content_product_reviews .wd_shop_review_date {
}

#wd_shop_tab_content_product_reviews .wd_shop_review_text {
    margin-top: 4px;
    white-space: pre-line;
}

#wd_shop_tab_content_product_reviews blockquote p {
    font-size: 1.2em;
}

/* tags */
.wd_shop_tags_container {
    margin-bottom: 0;
}

/* related items slider */
.wd_shop_products_slider {
    height: 120px;
}

.wd_shop_products_slider .wd_items_slider_btn_prev,
.wd_shop_products_slider .wd_items_slider_btn_next {
    padding: 0;
    width: 20px;
    height: 100%;
}

.wd_shop_products_slider .wd_items_slider_btn_prev span.glyphicon,
.wd_shop_products_slider .wd_items_slider_btn_next span.glyphicon {
    position: relative;
    top: 50%;
    margin-top: -50%;
}

.wd_shop_products_slider .wd_items_slider_mask {
    margin: 0 20px;
    height: 100%;
    overflow: hidden;
}

.wd_shop_products_slider ul.wd_items_slider_items_list {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
}

.wd_shop_products_slider ul.wd_items_slider_items_list li {
    display: block;
    float: left;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    height: 100%;
}

.wd_shop_products_slider .wd_shop_product_related_product_container {
    padding: 2px;
    max-width: 120px;
}

.wd_shop_products_slider .wd_shop_product_related_product_image_container {
    width: 100%;
    height: 90px;
}

.wd_shop_products_slider .wd_shop_product_related_product_image_container img {
    max-width: 100%;
    max-height: 90px;
}

.wd_shop_products_slider .wd_shop_product_related_product_no_image span {
    opacity: 0.5;
    font-size: 0.8em;
}

.wd_shop_products_slider .wd_shop_product_related_product_no_image span.glyphicon {
    font-size: 40px;
    margin-bottom: 10px;
}

.wd_shop_products_slider .wd_shop_product_related_product_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wd_shop_video {
  width: 100%;
}

@media (min-width: 768px) {
    .wd_shop_products_order_data_container {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .wd_shop_products_order_btns_container {
        float: none;
        display: table-cell;
        border-left: 1px solid;
        height: 110px;
        vertical-align: middle;
    }

    .wd_shop_dl_parameters dt {
        width: 120px;
        text-overflow: initial;
        white-space: normal;
        text-align: left;
    }

    .wd_shop_dl_parameters dd {
        margin-left: 140px;
        margin-bottom: 10px;
    }
}

.parameters_label {
    display: block ;
}

.parameters_input {
    float: left;
    margin-right: 5px;
}
