<?xml version="1.0" encoding="utf-8"?>
<form>
	<fields>

		<field
			name="id"
			type="hidden"
			default="0"
			required="true"
			readonly="true"/>							
															
		<field
			id="tablename"
			name="tablename"
			type="text"
			required="true"
			label="Tablename"
			description="tablename_Desc"
			class="inputbox"
			size="40"/>						
								
														
		<field
			id="table_id"
			name="table_id"
			type="text"
			required="false"
			label="Table_id"
			description="table_id_Desc"
			class="inputbox"
			size="40"/>						
								
														
		<field
			id="volume"
			name="volume"
			type="text"
			required="false"
			label="Volume"
			description="volume_Desc"
			class="inputbox"
			size="40"/>						
								
														
		<field
			id="type"
			name="type"
			type="text"
			required="false"
			label="Type"
			description="type_Desc"
			class="inputbox"
			size="40"/>						
								
														
		<field
			id="user_id"
			name="user_id"
			type="text"
			required="false"
			label="User_id"
			description="user_id_Desc"
			class="inputbox"
			size="40"/>						
								
														
		<field
			id="time"
			name="time"
			type="text"
			required="false"
			label="Time"
			description="time_Desc"
			class="inputbox"
			size="40"/>						
								
														
		<field
			id="newstate"
			name="newstate"
			type="text"
			required="false"
			label="Newstate"
			description="newstate_Desc"
			class="inputbox"
			size="40"/>						
								
		<field
			id="oldrec"
			name="oldrec"
			type="textarea"
			required="false"
			label="Oldrec"
			description="oldrec_Desc"
			class="inputbox"
			rows="5" cols="80" />						
				
		<field
			id="newrec"
			name="newrec"
			type="textarea"
			required="false"
			label="Newrec"
			description="newrec_Desc"
			class="inputbox"
			rows="5" cols="80" />						
        				
	</fields>	
		
</form>	