table.adminlist tr .col_user_name {
    width: 90px;
}

table.adminlist tr .col_user_ip_address {
    width: 120px;
}

table.adminlist tr .col_total_price {
    width: 80px;
    text-align: center;
}

table.adminlist tr .col_checkout_date {
    width: 100px;
    text-align: center;
}

table.adminlist tr .col_date_modified {
    width: 100px;
    text-align: center;
}

table.adminlist tr .col_order_status {
    width: 120px;
    text-align: center;
}

table.adminlist tr .col_payment_status {
    width: 120px;
    text-align: center;
}

table.adminlist tr .col_read {
    width: 60px;
    text-align: center;
}
/* for j3 */
.icon-preview:before {
content: "\3c";
}