table.adminlist tr .col_user_ip_address {
    width: 80px;
    text-align: center;
}

table.adminlist tr .col_user_name {
    width: 200px;
}

table.adminlist tr .col_text {
width:500px;
}

table.adminlist tr .col_product_name {
    width: 120px;
    text-align: center;
}

table.adminlist tr .col_review_date {
    width: 130px;
    text-align: center;
}
.review_text{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 13em;
	display: inline-block;
}
/* for j3 */
.icon-preview:before {
content: "\3c";
}